/.idea

!/.gitignore
!/.htaccess

/vendor
/node_modules

/db/*
!/db/.gitkeep

/file-storage/*
!/file-storage/zip
!/file-storage/.gitkeep

/file-storage/zip/*
!/file-storage/zip/.gitkeep

/web/assets/*
!/web/assets/.gitkeep

/web/css/*.css

/runtime/*